body {
  margin: 40px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #93b5ed;
}

.content {
  grid-area: content;
  position: relative;
  background-color: #160084;
}
.content1 {
  grid-area: content1;
  position: relative;
  background-color: #160084;
}
.content2 {
  grid-area: content2;
  position: relative;
  background-color: #160084;
}
.content3 {
  grid-area: content3;
  position: relative;
  background-color: #160084;
}
.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
    "header  header  header"
        "sidebar content content"
        "sidebar content1 content1"
        "sidebar content2 content2"
        "sidebar content3 content3"
        "footer  footer  footer";
        background-color: #fff;
        color: #444;
    }


.box {
   background-color: #160084;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: #42f492;
}

